# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Build / cache
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs / temp
*.log
*.tmp
